<nav>
    <section id="nav-section">
        <h1 id="nav-heading">File Share</h1>
        <div id="nav-btns">
            <a href="/logout" class="btn">Logout</a>
        </div>
    </section>
</nav>
<main>
    <section id="main-section">
        <div class="drag-area">
            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
            <header>Drag & Drop to Upload File</header>
            <span>OR</span>
            <button>Browse File</button>
            <input type="file" hidden>
        </div>
    </section>
</main>
<script src="js/script.js"></script>