<nav>
    <section id="nav-section">
        <h1 id="nav-heading">Share Me</h1>
        <div id="nav-btns">
            <a href="/signup" class="btn">Signup</a>
            <a href="/login" class="btn">Login</a>
        </div>
    </section>
</nav>
<main>
    <section id="error-main-section">
        <lord-icon src="https://cdn.lordicon.com/qxjdtzah.json" trigger="loop" delay="5000"
            colors="outline:#121331,primary:#3282b8,secondary:#f9c9c0" style="width:250px;height:250px">
        </lord-icon>
        <h1 id="heading">Error {{status}} : {{msg}}</h1>
    </section>
</main>