@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Mochiy+Pop+One&display=swap");

/* 
font-family: 'Arima Madurai', cursive;
font-family: 'Mochiy Pop One', sans-serif;
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$bgcolor1: #e3fdfd;
$bgcolor2: #cbf1f5;
$bgcolor3: #a6e3e9;
$bgcolor4: #71c9ce;

$color1: #3282b8;

@mixin btn() {
  font-family: "Arima", cursive;
  text-decoration: none;
  font-weight: 600;
  color: $color1;
  margin-right: 30px;
  padding-bottom: 5px;
}

body {
  background: linear-gradient(
    to bottom,
    $bgcolor1,
    $bgcolor2,
    $bgcolor3,
    $bgcolor4
  );
}

#nav-section {
  height: 10vh;
  display: flex;
  align-items: center;

  #nav-btns {
    margin-left: auto;
    margin-right: 25px;

    .btn {
      font-size: 1.2rem;
      @include btn();
    }

    .btn:hover {
      transition: all 0.2s ease-in;
      border-bottom: 2px solid $color1;
    }
  }
}

#nav-heading {
  padding: 10px 0 0 20px;
  font-family: "Mochiy Pop One", sans-serif;
  color: $color1;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

#heading {
  font-family: "Mochiy Pop One", sans-serif;
  color: $color1;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

#sub-heading {
  font-family: "Mochiy Pop One", sans-serif;
  color: $color1;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

#main-section {
  font-family: "Arima", cursive;
  min-height: 90vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-content-box {
  text-align: center;
}

#file-gif {
  position: absolute;
  left: -100px;
  top: 70px;
  height: 80px;
  animation: 12s slide-right infinite; 
}

#clicked {
  height: 300px;
  width: 300px;
}

#redirect-btns {
  margin-top: 20px;
}

#redirect-btns > a {
  text-decoration: none;
  background-color: $color1;
  color: #fff;
  padding: 8px 18px;
  font-size: 1.2rem;
  border-radius: 6px;
}

#signup-section {
  font-family: "Arima", cursive;
  min-height: 90vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-error {
  color: red;
  text-align: center;
  margin: 10px 0;
}

#signup-form {
  margin-top: 10px;
}

#signup-form > div {
  margin-top: 15px;
}

.labels {
  font-size: 1.3rem;
}

.inputs {
  font-size: 1.1rem;
  padding: 5px 5px;
  letter-spacing: 1px;
  height: 30px;
  width: 300px;
  outline: none;
  border-radius: 5px;
  border: none;
}

#signup-submit ,
#login-submit {
  border: none;
  background: $bgcolor2;
  color: $color1;
  padding: 8px 18px;
  font-size: 1rem;
  border-radius: 6px;
  display: block;
  margin: auto;
  margin-top: 20px;
  font-weight: 500;
  cursor: pointer;
}

#verification {
  height: 200px;
  width: 500px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#close{
  font-family: "Arima", cursive;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-weight: 600;
}

#verification > h3 {
  font-family: "Arima", cursive;
  color: $color1;
}

#verification > a {
  @include btn();
  color: #000;
  font-size: 1.5rem;
  margin-right: 0;
  margin-top: 20px;
}

#verification > a:hover {
  transition: all 0.2s ease-in;
  border-bottom: 2px solid $color1;
}

#login-section {
  font-family: "Arima", cursive;
  height: 90vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#dashboard-main-section{
  font-family: "Arima", cursive;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#left-section{
  padding-right: 50px;
  border-right: 2px solid $bgcolor4;
}

#download-link{
  height: 40px;
  width: 400px;
  outline: none;
  padding-left: 5px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none
}


#download-btn,
#browse-btn{
  @include btn();
  padding: 8px 15px;
  font-size: 1.2rem;
  border: none;
  background: $bgcolor1;
  border-radius: 8px;
  cursor: pointer;
}

#browse-btn{
  margin-top: 10px;
  margin-left: 30px;
}

#name-head{
  font-family: "Arima", cursive;
  font-weight:600;
  font-size: 1.2rem;
  color: $color1;
  margin-right: 20px;
}

#upload-btn{
  @include btn();
  padding: 8px 15px;
  font-size: 1.2rem;
  border: none;
  background: $bgcolor1;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
}

#error-main-section{
  font-family: "Arima", cursive;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#upload-file{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#file-upload-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 250px;
  width: 400px;
  border: 2px dashed $color1;
}

.fa-cloud-upload-alt{
  font-size: 5rem;
  color: $color1;
}


#download-form{
  height: 200px;
  width: 500px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#download-form > #download-url{
  @include btn();
  color: #000;
  font-size: 1.5rem;
  margin-right: 0;
  margin-top: 20px;
  cursor: pointer;
}






#key-input{
  margin-top: 15px;
  height: 30px;
  width: 250px;
  font-size: 1.2rem;
  padding-left: 5px;
  outline: none;
  border: none;
  border-radius: 8px;
}

#copy-btn{
  font-size: 1.5rem;
  color: $color1;
  margin-left: 15px;
  cursor: pointer;
}

#send-mail-heading{
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: $color1;
  font-family: 'Mochiy Pop One', sans-serif;
}

#email-label{
  display: block;
  text-align: center;
  margin-top: 40px;
  font-size: 1.2rem;
  color: $color1;
  font-weight: 600;
}

#key-email{
  height: 30px;
  width: 300px;
  outline: none;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  padding-left: 5px;
  font-size: 1.2rem;
}

#key-send-btn{
  @include btn();
  padding: 8px 15px;
  border: none;
  background-color: $bgcolor1;
  color: $color1;
  font-size: 1rem;
  display: block;
  margin: auto;
  margin-top: 15px;
  border-radius: 8px;
}









@keyframes slide-right {
  from {
    margin-left: 0;
  }
  to {
    padding-left: 100vw;
  }
}


@media only screen and (max-width: 600px){
  
  #nav-heading{
    font-size: 1.5rem;
  }

  #nav-section {
    #nav-btns {
      margin-left: auto;
      margin-right: 10px;
      position: relative;
      top: 10px;
  
      .btn {
        font-size: 1rem;
        @include btn();
        margin-right: 20px;
      }
  
      .btn:hover {
        transition: all 0.2s ease-in;
        border-bottom: 2px solid $color1;
      }
    }
  }

}
